
//variables

@import 'variables/colors';
@import 'variables/breakpoints';
@import 'variables/typography';



//components

@import 'components/navbar';
@import 'components/login';
@import 'components/footer';
@import 'components/home';
@import 'components/valores';
@import 'components/365_dias';
@import 'components/prueba';
@import 'components/entrenamiento_personal';
@import 'components/resenias';
@import 'components/trabaja_con_nosotros';
@import 'components/noticias';
@import 'components/saber_mas';
@import 'components/contacto';
@import 'components/show_entry';
@import 'components/blog';
@import 'components/galeria';
@import 'components/cuotas_home';
@import 'components/horarios';
@import 'components/tienda';
@import 'components/cuotas';





body{
  //background: linear-gradient(90deg, rgba(49,49,50,1) 0%, rgba(22,22,24,1) 100%);
  background: url('/img/body/background.jpg') no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
  color:white;
  font-family: $tg-main;
}

.section{
  margin: 100px 0;
}

.btn {
    background: $color-yellow;
    color: $color-black;
    outline: none;
    padding: 8px 20px;
    font-family: $tg-apercu-medium;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
}

.btn:hover {
    background: transparent;
    border-color: $color-white;
    color: $color-white;
}

.content{
    padding-top: 131px;
}

.errmsg{
  background: $color-yellow;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 0px;
  color: $color-black;
  height: 50px;
  padding:10px;
  text-align: left;
}

input, textarea{

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 0px;
  color: $color-gray;
  height: 50px;
  outline: none;
  padding:10px;
  text-align: left;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none !important;
}

form{
  font-family: $tg-apercu-medium;
}

.section-title{
  color:$color-yellow;
  font-size:40px;
  margin-bottom: 100px;
}

.bright{
  filter: brightness(1) !important;
  transition: all .4s !important;
}

.bright:hover{
  filter: brightness(1.2) !important;
}

.opacity_transition{
  opacity: 1  !important;
  transition: all .4s !important;
}

.opacity_transition:hover{
  opacity: .6  !important;
}

@media #{$breakpoints-medium} {

.section-title{
  font-size:60px;
}
}

@media #{$breakpoints-large} {

.section-title{
  font-size:30px;
}

}


@media #{$breakpoints-xlarge} {

}