.blog__container{

}

.blog__container form{
  margin: auto;
  text-align: center;
  width: 300px;
}

.blog__container select{
  background: $color-yellow;
  border: 1px $color-yellow solid;
  border-radius: .25rem;
  color: $color-black;
  height: 50px;
  margin-bottom: 100px;
  padding: 10px;
}

.blog__noticias{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px 0;
  justify-content: flex-start;
  margin: auto;
}

.blog__container .blog__noticias{
  width: 100%;
}

.blog__noticias .noticias__entry{
  margin: 0;
  width: 100%;
}

.blog__noticias .noticias__entry img{
  height: auto;
  width: 100%;
}

.blog__noticias nav{
  height: 100px;
  margin: auto;
}

.blog__noticias nav a, .blog__noticias nav span{
  background: $color-yellow !important;
  border: 1px $color-yellow solid !important;
  border-radius: .25rem;
  color: $color-black;
  font-family: $tg-apercu-medium;
  transition: all .2s;  
}

.blog__noticias nav a:hover{
  background: transparent !important;
  border: 1px $color-white solid !important;
  color: $color-white;
}

.blog__noticias nav span{
  filter: brightness(50%)
}

@media #{$breakpoints-medium} {


}

@media #{$breakpoints-large} {

.blog__container{

}

.blog__container form{

}

.blog__container .blog__noticias{
  width: 80%;
}

.blog__noticias{
  display: flex;
  flex-direction: row;
}

.blog__noticias .noticias__entry{
  margin: 0;
  width: calc(100%/3);
}

}


@media #{$breakpoints-xlarge} {

}

