.cookie-consent{
  background:linear-gradient(90deg, rgba(49,49,50,1) 0%, rgba(22,22,24,1) 100%);
  bottom: 0;
  font-family: $tg-apercu-medium;
  height: 100px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 15;
}

.cookie-consent span, .cookie-consent button{
  margin-top: 40px;
}

.cookie-consent button{
  background: $color-yellow;
  border: 1px $color-yellow solid;
  border-radius: .25rem;
  font-size: 14px;
  padding: 5px;
  transition: all .2s;
}

.cookie-consent button:hover{
  background: $color-black;
  border: 1px $color-white solid;
  color: $color-white;
}