.section__entrenamiento_personal{
  display: flex;
  background: url('/img/entrenamiento_personal/background-s.png') no-repeat;
  background-size:cover;
  height: 100vh;
  margin-bottom: 0 !important;
}

.entrenamiento_personal__container{
  align-self: center;
  color: $color-black;
  margin: 0 5%;
  text-align: right;
  width:100%;
}

.entrenamiento_personal__container h1{
  color:$color-white;
  font-size: 53px;
  width: 100%;
}

.entrenamiento_personal__container h1 p span{
  hyphens: auto;
}

.entrenamiento_personal__container h1 span{
  color: $color-yellow;
  font-size: 71px;
}

.entrenamiento_personal__container h3 a{
  color: $color-white;
  text-decoration: none;
  transition:all .2s;
}

.entrenamiento_personal__container h3 a:hover{
  color: $color-yellow;
}

@media #{$breakpoints-medium} {

.entrenamiento_personal__container h1{
  font-size: 100px;
}

.entrenamiento_personal__container h1 span{
  font-size: 150px;
}

}

@media #{$breakpoints-large} {

.section__entrenamiento_personal{
  background: url('/img/entrenamiento_personal/background.png') no-repeat;
  background-size:cover;
}

.section__entrenamiento_personal{
  height: 872px;
}

.entrenamiento_personal__container{
  margin: 0 20%;
}

.entrenamiento_personal__container h1{
  font-size: 100px;
  width: 100%;
}

.entrenamiento_personal__container h1 p span{
  hyphens: none;
}


.entrenamiento_personal__container h1 span{
  font-size: 150px;
}

}


@media #{$breakpoints-xlarge} {

}