.footer__section{
  color: $color-white;
  margin-top: 150px;
  font-family: $tg-apercu-medium;
}

.footer__section a{
  color: $color-white;
}

.footer__container{
  align-items: center; 
  display: flex;
  height: 500px;
  flex:1;
  flex-direction: column;
  padding: 0 20px;
  justify-content:space-between;
}

.footer__section .icon{
  fill:$color-white;
  transition: all .2s;
}

.footer__section .icon:hover{
  transform: scale(1.1);
  fill:$color-yellow;
}

.footer__left{
  margin-left: 0px; 
}

.footer__left ul{
  margin-top: 50px; 
}

.footer__right .icon{
  height: 70px;
}

.footer__right ul{
  margin-right: 0;
}

.footer__right li{
  margin: 0 17px;
  display: inline;
}

.footer__right a{
  text-decoration: none;
}

.footer__bottom{
  margin-top:100px;
  text-align: center;
  width: 100%;
}

@media #{$breakpoints-medium} {

}

@media #{$breakpoints-large} {

.footer__container{
  flex-direction: row;
  padding: 40px 100px;
}

.footer__left{
  margin-left: 50px; 
}

.footer__right ul{
  margin-right: 200px;
}

.footer__bottom{
  margin-top:0;
}

}


@media #{$breakpoints-xlarge} {

}