.login__section{
  font-family: $tg-apercu-medium;
  text-align: center;
}

.login__container{
}

.login__section .icon--logotipo{
  fill: $color-yellow;
  width: 200px;
}

.login__container h3{
  color: $color-yellow;
  font-family: $tg-second;
  margin-top: 50px;
}


.login__container a h3{
  color: $color-white;
  font-size: 1.25rem;
  transform: scale(1);
  transition: all .2s;
}

.login__container a h3:hover{
  color: $color-yellow;
  transform: scale(1.1);
}

.fieldset__login{
  background: linear-gradient(90deg, rgba(49,49,50,1) 0%, rgba(22,22,24,1) 100%);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 8px $color-yellow solid;
  height: 550px;
  margin: auto;
  width: 80vw;
  margin-top: 100px;
  padding: 50px 0px 50px 0px;

}


.errmsg__login{
  opacity:1;
  float: center;
}

.login__section input{
  float:center;
  margin-top: 50px;
  width: 80%;
}

.fieldset__login button{
  margin-top:120px;
  margin-bottom: 10px;
}

.fieldset__login span a{
  padding-top: 10px;
  color:$color-gray;
}


@media #{$breakpoints-medium} {

}

@media #{$breakpoints-large} {

.fieldset__login{

  height: 550px;
  width: 600px;
  padding: 50px 120px 50px 120px;


}

.errmsg__login{
  float: left;
}

.login__section input{
  float:left;
  margin-top: 50px;
  width: 350px;
}


}


@media #{$breakpoints-xlarge} {

}


