.noticias__entrys{
  display: flex;
  flex-direction:column;
}

.noticias__entry{
  display:grid;
  font-family: $tg-apercu-medium;
  grid-template-rows:50% 50%;
  height: 320px;
  margin: auto;
  padding: 20px 5px;
  width: 100%
}

.noticias__entry .top{
  overflow: hidden;
  position: relative;
}

.noticias__entry .top img{
  height: auto;
  width: 100%;
}

.noticias__entry .top h2{
  bottom:0;
  color:$color-white;
  font-size: 20px;
  margin-left: 10px;
  position: absolute;
}

.noticias__entry .bottom{
  background: $color-white;
  display:grid;
  font-size: 12px;
  grid-template-rows: 80% 20%;
}

.noticias__entry .bottom div:nth-child(1){
  height: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.noticias__entry .bottom p{
  color: $color-gray-content;
  text-align: justify;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.noticias__entry .bottom a{
  color: $color-black;
  text-decoration: none;
  transition: all .2s;
}

.noticias__entry .bottom a:hover{
  color: $color-yellow;
}

.noticias__entry .bottom p, .noticias__entry .bottom a{
  padding: 10px;
}

@media #{$breakpoints-medium} {

.noticias__entry{
  padding: 20px 156px;
  width: 100%
}

}

@media #{$breakpoints-large} {

.noticias__entrys{
  display: flex;
  flex-direction:row;
}

.noticias__entry{
  height: 300px;
  padding: 5px 5px;
  width: calc(100%/5)
}

.noticias__entry .top img{
  height: 100%;
  width: auto;
}

}


@media #{$breakpoints-xlarge} {

}