.section__trabaja_con_nosotros{
  display: flex;
  background: url('/img/trabaja_con_nosotros/background-s.png') no-repeat,white;
  background-size:cover;
  height: 100vh;
  margin-bottom: 0 !important;
}

.trabaja_con_nosotros__container{
  align-self: center;
  color: $color-black;
  margin: 0 5%;
  width:100%;
}

.trabaja_con_nosotros__container h1{
  font-size: 53px;
  width: 100%;
}

.trabaja_con_nosotros__container h1 span{
  color: $color-yellow;
  font-size: 71px;
}

.trabaja_con_nosotros__container h3 a{
  color: $color-black;
  text-decoration: none;
  transition:all .2s;
}

.trabaja_con_nosotros__container h3 a:hover{
  color: $color-yellow;
}

@media #{$breakpoints-medium} {

.trabaja_con_nosotros__container h1{
  font-size: 100px;
}

.trabaja_con_nosotros__container h1 span{
  font-size: 150px;
}

}

@media #{$breakpoints-large} {

.section__trabaja_con_nosotros{
  background: url('/img/trabaja_con_nosotros/background.png') no-repeat,white;
  background-size:cover;
}

.section__trabaja_con_nosotros{
  height: 872px;
}

.trabaja_con_nosotros__container{
  margin: 0 20%;
}

.trabaja_con_nosotros__container h1{
  font-size: 100px;
  width: 611px;
}

.trabaja_con_nosotros__container h1 span{
  font-size: 150px;
}

}


@media #{$breakpoints-xlarge} {

}