.users__container{
  font-family: $tg-apercu-medium;
}

.users__container form{
  text-align: center;
  width: 100%;
}

.users__container table{
  text-align: center;
  margin-top: 100px;
  width: 100%;
}

.users__container table thead tr{
  border-bottom: 2px $color-white solid;
  height: 50px;
}

.users__container table tbody tr{
  border-bottom: .5px $color-white solid;
  height: 45px;
}

.users__container table a{
  color: $color-yellow;
  opacity: 1;
  transition: all .2s;
}

.users__container table a:hover{
  opacity: .6;
}

.users__container table td div{
  background: $color-white;
  border-radius: 50%;
  height: 40px;
  margin: 5px auto;
  width: 40px;
  overflow: hidden;
}

.users__container table td div img{
  height: auto !important;
  width: 100%;
}