@font-face {
  font-family: "Fajalla";
  src: url("/imports/typography/FjallaOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ethnocentric-Italic";
  src: url("/imports/typography/Ethnocentric-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Ethnocentric-Regular";
  src: url("/imports/typography/Ethnocentric-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "VenusRising";
  src: url("/imports/typography/VenusRising-Regular.ttf") format("truetype");
}
body {
  background-color: black;
  font-family: "Fajalla", sans-serif;
}
