@font-face {
  font-family: "Fajalla";
  src: url("/imports/typography/FjallaOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ethnocentric-Italic";
  src: url("/imports/typography/Ethnocentric-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Ethnocentric-Regular";
  src: url("/imports/typography/Ethnocentric-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "VenusRising";
  src: url("/imports/typography/VenusRising-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ApercuPro-Regular";
  src: url("/imports/typography/ApercuPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ApercuPro-Medium";
  src: url("/imports/typography/ApercuPro-Medium.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary: #933ded;
  --dark: #232323;
  --pure: #fff;
  --smoke: whitesmoke;
  --dark-gray: #999;
}

.container {
  width: 1152px;
  max-width: 90%;
  margin: 0 auto;
}

.nav-wrapper {
  background: linear-gradient(90deg, #313132 0%, #161618 100%);
  font-family: "ApercuPro-Medium", sans-serif;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  padding: 0 100px 0 100px;
  z-index: 10;
}

.brand {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.brand svg {
  height: 40px;
  margin-right: 10px;
}

.brand .icon {
  fill: #e9d800;
}

.nav-wrapper ul.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-list a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #e9d800;
  transition: width 0.3s;
}

.nav-list a:hover::after {
  width: 100%;
}

.nav-wrapper ul.nav-list li {
  margin-left: 30px;
  padding: 20px 0;
  position: relative;
}

.nav-wrapper ul.nav-list li a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover, .nav-wrapper ul.nav-list li.active a {
  color: #e9d800;
}

main section.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 160px;
}

main section.header h1 {
  font-size: 36px;
  font-weight: 100;
  text-transform: capitalize;
  margin-bottom: 20px;
}

main section.header h4 {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-gray);
  margin-bottom: 20px;
}

nav ul.dropdown-list {
  list-style-type: none;
  display: block;
  background: var(--smoke);
  padding: 6px 16px;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.nav-wrapper ul.dropdown-list li {
  margin-left: 0;
  padding: 5px 0;
}

.nav-wrapper ul.dropdown-list li a {
  color: var(--dark);
}

.nav-wrapper ul.nav-list li:hover .dropdown-list {
  opacity: 1;
  pointer-events: auto;
  -webkit-animation: moveUp 0.5s ease-in-out forwards;
          animation: moveUp 0.5s ease-in-out forwards;
}

@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(20px);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(20px);
  }
}
.hamburger {
  display: none;
}

.mobile .hamburger {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  cursor: pointer;
}

.mobile .hamburger span {
  background: var(--pure);
  width: 28px;
  height: 2px;
  margin-bottom: 8px;
}

.mobile ul.nav-list {
  background: linear-gradient(45deg, #434343, #000000);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.hamburger, .brand {
  margin-left: 0;
  z-index: 9999;
}

.mobile ul.nav-list.open {
  opacity: 1;
  pointer-events: auto;
}

.mobile .hamburger span {
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}

.mobile ul.nav-list li a {
  font-size: 20px;
}

.mobile ul.dropdown-list {
  position: relative;
  background: transparent;
  text-align: center;
  height: 0;
  overflow-y: hidden;
  transition: opacity 1s ease-in-out;
  padding-top: 0;
}

.mobile .nav-wrapper {
  padding: 0 20px;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 6px;
}

.mobile ul.nav-list li {
  margin-left: 0;
  text-align: center;
}

.mobile .nav-wrapper ul.dropdown-list li a {
  color: var(--dark-gray);
}

.login__section {
  font-family: "ApercuPro-Medium", sans-serif;
  text-align: center;
}

.login__container {
  margin-top: 150px;
}

.login__section .icon--logotipo {
  fill: #e9d800;
  width: 200px;
}

.fieldset__login {
  background: linear-gradient(90deg, #313132 0%, #161618 100%);
  border-radius: 30px;
  border: 8px #e9d800 solid;
  height: 550px;
  margin: auto;
  width: 80vw;
  margin-top: 100px;
  padding: 50px 0px 50px 0px;
}

.errmsg__login {
  opacity: 0;
  float: center;
}

.login__section input {
  float: center;
  margin-top: 50px;
  width: 80%;
}

.fieldset__login button {
  margin-top: 120px;
  margin-bottom: 10px;
}

.fieldset__login span a {
  padding-top: 10px;
  color: #9A9A9A;
}

@media only screen and (min-width: 1024px) {
  .fieldset__login {
    height: 550px;
    width: 600px;
    padding: 50px 120px 50px 120px;
  }

  .errmsg__login {
    float: left;
  }

  .login__section input {
    float: left;
    margin-top: 50px;
    width: 350px;
  }
}
.footer__section {
  color: white;
  margin-bottom: 0px !important;
  margin-top: 150px;
  font-family: "ApercuPro-Medium", sans-serif;
}

.footer__section a {
  color: white;
}

.footer__container {
  align-items: center;
  display: flex;
  height: 500px;
  flex: 1;
  flex-direction: column;
  padding: 0 20px;
  justify-content: space-between;
}

.footer__section .icon {
  fill: white;
  transition: all 0.2s;
}

.footer__section .icon:hover {
  transform: scale(1.1);
  fill: #e9d800;
}

.footer__left {
  margin-left: 0px;
}

.footer__left ul {
  margin-top: 50px;
}

.footer__right .icon {
  height: 70px;
}

.footer__right ul {
  margin-right: 0;
}

.footer__right li {
  margin: 0 17px;
  display: inline;
}

.footer__right a {
  text-decoration: none;
}

.footer__bottom {
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .footer__container {
    flex-direction: row;
    padding: 40px 100px;
  }

  .footer__left {
    margin-left: 50px;
  }

  .footer__right ul {
    margin-right: 200px;
  }

  .footer__bottom {
    margin-top: 0;
  }
}
.home__container {
  display: flex;
  flex-direction: column;
  margin: 100px 50px;
}

.home__left {
  align-items: center;
  display: flex;
  text-align: center;
}

.home__container h1 {
  font-family: "Ethnocentric-Regular", sans-serif;
  font-size: 38px;
  text-transform: uppercase;
}

.home__container h2 {
  color: #e9d800;
  font-family: "Ethnocentric-Italic", sans-serif;
  font-size: 20px;
}

.home__right {
  text-align: center;
}

.home__container .icon {
  height: 300px;
  fill: white;
  margin-top: 50px;
}

.home__container .icon--escudo--yellow {
  fill: #e9d800;
}

@media only screen and (min-width: 1024px) {
  .home__container {
    display: flex;
    flex-direction: row;
    margin: 200px 100px;
  }

  .home__container h1 {
    font-size: 60px;
    text-align: left;
  }

  .home__container h2 {
    font-size: 30px;
  }

  .home__left {
    text-align: left;
    width: 60%;
  }

  .home__right {
    width: 40%;
  }

  .home__container .icon {
    height: 400px;
    margin-top: 0;
  }
}
.valores__container {
  margin: 0 50px;
  display: flex;
  flex-direction: column-reverse;
}

.valores__hexagons {
  position: relative;
  text-align: center;
}

.valores__hexagons__big {
  opacity: 0;
  position: absolute;
  z-index: -15;
}

.valores__hexagons__small {
  margin-top: 100px;
  opacity: 1;
  position: static;
  z-index: 0;
}

.row {
  display: flex;
  height: 75px;
  justify-content: center;
}

.blink {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
  cursor: pointer;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.blocked {
  filter: brightness(5%);
  z-index: -5;
}

.box {
  padding: 0 0px;
  position: relative;
}

.box .icon--hexagon {
  width: 175px;
  padding: 4px;
}

.box .icon--entrenamiento_funcional {
  height: 54px;
  margin-top: -10px;
}

.box .icon--resultados {
  fill: #e9d800 !important;
}

.box__yellow .icon {
  fill: #e9d800;
}

.box__gray .icon {
  fill: #878787;
}

.box__white .icon {
  fill: #EAEAEA;
}

.box__info {
  color: black;
  font-family: "Ethnocentric-Regular", sans-serif;
  left: 50%;
  margin-left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translate(-50%, 0);
  width: 163px;
}

.big__padding {
  padding-top: 48px;
}

.medium__padding {
  padding-top: 25px;
}

.small__padding {
  padding-top: 10px;
}

.box__info h1 {
  font-size: 21px;
}

.box__info h2 {
  font-size: 18px;
  margin-bottom: 0;
}

.small__padding h3 {
  margin-bottom: -2px;
}

.box__info h3 {
  font-size: 12px;
}

.box__info .icon {
  fill: black;
  height: 38px;
}

.box__info ul {
  font-size: 7px;
  margin: auto;
  width: 145px;
}

.valores__title {
  display: flex;
  width: auto;
}

.valores__title h1 {
  align-self: center;
  font-size: 50px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.valores__title h1 span {
  color: #e9d800;
}

.valores .lema {
  font-family: "Ethnocentric-Italic", sans-serif;
  font-size: 12px;
  padding-top: 69px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.hidden {
  height: 0px;
  opacity: 0;
  transition: all 0.2s;
}

.visible {
  opacity: 1;
  height: auto;
  transition: all 0.5s;
}

@media only screen and (min-width: 1024px) {
  .valores__hexagons__big {
    opacity: 1;
    position: static;
    z-index: 0;
  }

  .valores__hexagons__small {
    opacity: 0;
    position: absolute;
    z-index: -15;
  }

  .valores__hexagons__small .box .icon {
    width: 0;
  }

  .valores__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .valores__hexagons {
    width: 70%;
  }

  .valores__title {
    width: 30%;
  }

  .valores__title h1 {
    font-size: 60px;
    text-align: left;
  }

  .valores .lema {
    font-size: 2rem;
    padding-top: 150px;
    width: 787px;
  }

  .box {
    padding: 0 43px;
    position: relative;
    width: auto;
  }

  .box__info {
    color: black;
    font-family: "Ethnocentric-Regular", sans-serif;
    left: 0;
    margin-left: 47px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translate(0, 0);
    width: 163px;
  }
}
.section__365 {
  display: flex;
  background: url("/img/365_dias/background-s.png") no-repeat, white;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0 !important;
}

.dias__container {
  align-self: center;
  color: black;
  margin: 0 5%;
  width: 100%;
}

.dias__container h1 {
  font-size: 53px;
  width: 100%;
}

.dias__container h1 span {
  color: #e9d800;
  font-size: 90px;
}

@media only screen and (min-width: 768px) {
  .dias__container h1 {
    font-size: 100px;
  }

  .dias__container h1 span {
    font-size: 150px;
  }
}
@media only screen and (min-width: 1024px) {
  .section__365 {
    background: url("/img/365_dias/background.png") no-repeat, white;
    background-size: cover;
  }

  .section__365 {
    height: 872px;
  }

  .dias__container {
    margin: 0 20%;
  }

  .dias__container h1 {
    font-size: 100px;
    width: 611px;
  }

  .dias__container h1 span {
    font-size: 150px;
  }
}
.section__prueba {
  color: black;
  margin-top: 0 !important;
}

.prueba__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.prueba__container div {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;
}

.prueba__container .left {
  background: url("/img/prueba/background_left.png") no-repeat, white;
  background-size: cover;
}

.prueba__container .right {
  background: url("/img/prueba/background_right.png") no-repeat, white;
  background-size: cover;
}

.prueba__container div h1, .prueba__container div h3 {
  margin-left: 50px;
}

.prueba__container div h1 {
  align-self: center;
  font-size: 44px;
  position: absolute;
  width: 50%;
}

.prueba__container div h1 span {
  color: #e9d800;
  font-size: 59px;
}

.prueba__container div h3 {
  align-self: flex-end;
  position: absolute;
}

.prueba__container div h3 a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
}

.prueba__container div h3 a:hover {
  color: #e9d800;
}

@media only screen and (min-width: 768px) {
  .prueba__container div h1 {
    font-size: 80px;
  }

  .prueba__container div h1 span {
    font-size: 109px;
  }
}
@media only screen and (min-width: 1024px) {
  .prueba__container {
    display: flex;
    flex-direction: row;
  }

  .prueba__container div {
    height: 872px;
  }

  .prueba__container div h1 {
    font-size: 93px;
  }

  .prueba__container div h1 span {
    font-size: 109px;
  }
}
.section__entrenamiento_personal {
  display: flex;
  background: url("/img/entrenamiento_personal/background-s.png") no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0 !important;
}

.entrenamiento_personal__container {
  align-self: center;
  color: black;
  margin: 0 5%;
  text-align: right;
  width: 100%;
}

.entrenamiento_personal__container h1 {
  color: white;
  font-size: 53px;
  width: 100%;
}

.entrenamiento_personal__container h1 p span {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.entrenamiento_personal__container h1 span {
  color: #e9d800;
  font-size: 71px;
}

.entrenamiento_personal__container h3 a {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

.entrenamiento_personal__container h3 a:hover {
  color: #e9d800;
}

@media only screen and (min-width: 768px) {
  .entrenamiento_personal__container h1 {
    font-size: 100px;
  }

  .entrenamiento_personal__container h1 span {
    font-size: 150px;
  }
}
@media only screen and (min-width: 1024px) {
  .section__entrenamiento_personal {
    background: url("/img/entrenamiento_personal/background.png") no-repeat;
    background-size: cover;
  }

  .section__entrenamiento_personal {
    height: 872px;
  }

  .entrenamiento_personal__container {
    margin: 0 20%;
  }

  .entrenamiento_personal__container h1 {
    font-size: 100px;
    width: 100%;
  }

  .entrenamiento_personal__container h1 p span {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  }

  .entrenamiento_personal__container h1 span {
    font-size: 150px;
  }
}
.wp-google-place {
  display: none !important;
}

#wpac-google-review .wp-google-review {
  background: white !important;
  padding: 23px !important;
}

.wp-google-all {
  display: none !important;
}

.resenias__container .resenias__btn {
  font-family: "ApercuPro-Medium", sans-serif;
  margin: auto;
  margin-top: 50px;
  width: 200px;
}

.section__trabaja_con_nosotros {
  display: flex;
  background: url("/img/trabaja_con_nosotros/background-s.png") no-repeat, white;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0 !important;
}

.trabaja_con_nosotros__container {
  align-self: center;
  color: black;
  margin: 0 5%;
  width: 100%;
}

.trabaja_con_nosotros__container h1 {
  font-size: 53px;
  width: 100%;
}

.trabaja_con_nosotros__container h1 span {
  color: #e9d800;
  font-size: 71px;
}

.trabaja_con_nosotros__container h3 a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
}

.trabaja_con_nosotros__container h3 a:hover {
  color: #e9d800;
}

@media only screen and (min-width: 768px) {
  .trabaja_con_nosotros__container h1 {
    font-size: 100px;
  }

  .trabaja_con_nosotros__container h1 span {
    font-size: 150px;
  }
}
@media only screen and (min-width: 1024px) {
  .section__trabaja_con_nosotros {
    background: url("/img/trabaja_con_nosotros/background.png") no-repeat, white;
    background-size: cover;
  }

  .section__trabaja_con_nosotros {
    height: 872px;
  }

  .trabaja_con_nosotros__container {
    margin: 0 20%;
  }

  .trabaja_con_nosotros__container h1 {
    font-size: 100px;
    width: 611px;
  }

  .trabaja_con_nosotros__container h1 span {
    font-size: 150px;
  }
}
.noticias__entrys {
  display: flex;
  flex-direction: column;
}

.noticias__entry {
  display: grid;
  font-family: "ApercuPro-Medium", sans-serif;
  grid-template-rows: 50% 50%;
  height: 320px;
  margin: auto;
  padding: 20px 5px;
  width: 100%;
}

.noticias__entry .top {
  overflow: hidden;
  position: relative;
}

.noticias__entry .top img {
  height: auto;
  width: 100%;
}

.noticias__entry .top h2 {
  bottom: 0;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  position: absolute;
}

.noticias__entry .bottom {
  background: white;
  display: grid;
  font-size: 12px;
  grid-template-rows: 80% 20%;
}

.noticias__entry .bottom div:nth-child(1) {
  height: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.noticias__entry .bottom p {
  color: #878787;
  text-align: justify;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.noticias__entry .bottom a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
}

.noticias__entry .bottom a:hover {
  color: #e9d800;
}

.noticias__entry .bottom p, .noticias__entry .bottom a {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .noticias__entry {
    padding: 20px 156px;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .noticias__entrys {
    display: flex;
    flex-direction: row;
  }

  .noticias__entry {
    height: 300px;
    padding: 5px 5px;
    width: calc(100%/5);
  }

  .noticias__entry .top img {
    height: 100%;
    width: auto;
  }
}
.section__saber_mas {
  position: absolute;
  opacity: 0;
}

.contacto__form {
  display: flex;
  flex-direction: column-reverse;
}

.contacto__form__left {
  text-align: center;
  width: 100%;
}

.contacto__form__left form {
  margin: auto;
  width: 100%;
}

.contacto__form form input, .contacto__form form textarea, .contacto__form form button {
  margin-top: 60px;
}

.contacto__form form input, .contacto__form form textarea {
  margin: inherit auto;
  width: 90%;
}

.contacto__form form textarea {
  height: 314px;
}

.contacto__form__right {
  display: flex;
  width: 100%;
  margin-bottom: 40px !important;
}

.contacto__form__right h1 {
  align-self: center;
  font-size: 53px;
  margin: auto;
  width: 90%;
}

.contacto__form__right h1 span {
  color: #e9d800;
}

.contacto__telefono {
  display: flex;
  background: url("/img/contacto/telefono_background-s.png") no-repeat;
  background-size: cover;
  height: 812px;
  margin-top: 100px;
}

.contacto__telefono h1 {
  align-self: center;
  font-size: 53px;
  margin: auto;
  width: 90%;
}

.contacto__telefono h1 span {
  color: #e9d800;
}

.contacto__maps {
  height: 612px;
  position: relative;
}

.contacto__maps__info {
  position: absolute;
  right: 20px;
  z-index: 5;
}

.contacto__yellow_box {
  background: #e9d800;
  border-radius: 10px;
  font-family: "ApercuPro-Medium", sans-serif;
  margin-top: 20px;
  padding: 10px;
  width: 319px;
}

.contacto__yellow_box ul {
  margin: 0;
}

.contacto__yellow_box a {
  color: black;
  text-decoration: none;
}

.contacto__maps iframe {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .contacto__telefono h1 {
    width: 75%;
  }
}
@media only screen and (min-width: 1024px) {
  .contacto__form {
    display: flex;
    flex-direction: row;
  }

  .contacto__form__right {
    margin-bottom: 0px;
    width: 50%;
  }

  .contacto__form__right h1 {
    width: 600px;
  }

  .contacto__form__left {
    font-size: 1rem;
    text-align: left;
    width: 50%;
  }

  .contacto__form__left form {
    width: 400px;
  }

  .contacto__form form input, .contacto__form form textarea {
    width: 314px;
  }

  .contacto__telefono {
    background: url("/img/contacto/telefono_background.png") no-repeat;
    background-size: cover;
  }

  .contacto__telefono h1 {
    margin-left: 150px;
    width: 602px;
  }
}
.show_entry__entry {
  background: white;
  color: #9A9A9A;
  font-family: "ApercuPro-Medium", sans-serif;
  font-size: 20px;
  padding: 20px;
}

.show_entry__entry h1 {
  color: black;
  font-family: "Fajalla", sans-serif;
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  padding: 0;
}

.show_entry__img {
  background-clip: content-box;
  float: left;
  margin: 0 0 20px 0;
  text-align: center;
  width: 100%;
}

.show_entry__button {
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .show_entry__entry {
    font-size: 1rem;
  }

  .show_entry__img {
    margin: 0 10px 0 0;
    width: 400px;
  }
}
.blog__container {
  display: flex;
  flex-direction: column;
}

.blog__container form {
  width: 100%;
}

.blog__noticias {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px 0;
  justify-content: flex-start;
}

.blog__container .blog__noticias {
  width: 100%;
}

.blog__noticias .noticias__entry {
  margin: 0;
  width: 100%;
}

.blog__noticias .noticias__entry img {
  height: auto;
  width: 100%;
}

.blog__noticias nav {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.blog__noticias nav a {
  font-family: "ApercuPro-Medium", sans-serif;
  color: black;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .blog__container {
    display: flex;
    flex-direction: row;
  }

  .blog__container form {
    width: 20%;
  }

  .blog__container .blog__noticias {
    width: 80%;
  }

  .blog__noticias {
    display: flex;
    flex-direction: row;
  }

  .blog__noticias .noticias__entry {
    margin: 0;
    width: calc(100%/3);
  }
}
body {
  background: url("/img/body/background.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
  font-family: "Fajalla", sans-serif;
}

.section {
  margin: 100px 0;
}

.btn {
  background: #e9d800;
  color: black;
  outline: none;
  padding: 8px 20px;
  font-family: "ApercuPro-Medium", sans-serif;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background: transparent;
  border-color: white;
  color: white;
}

.content {
  padding-top: 131px;
}

.errmsg {
  background: #e9d800;
  border-radius: 10px;
  border: 0px;
  color: black;
  height: 50px;
  padding: 10px;
  text-align: left;
}

input, textarea {
  border-radius: 10px;
  border: 0px;
  color: #9A9A9A;
  height: 50px;
  outline: none;
  padding: 10px;
  text-align: left;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

form {
  font-family: "ApercuPro-Medium", sans-serif;
}

.section-title {
  color: #e9d800;
  font-size: 40px;
  margin-bottom: 100px;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .section-title {
    font-size: 30px;
  }
}
