$medium: 768px;
$large: 1025px;
$xlarge: 1280px;
$xxlarge: 1440px;
$xxxlarge: 1680px;

$breakpoints-medium: "only screen and (min-width: #{$medium})";
$breakpoints-large: "only screen and (min-width: #{$large})";
$breakpoints-xlarge: "only screen and (min-width: #{$xlarge})";
$breakpoints-xxlarge: "only screen and (min-width: #{$xxlarge})";
$breakpoints-xxxlarge: "only screen and (min-width: #{$xxxlarge})";